* {
    box-sizing: border-box;
}

#page {
    display: flex;

}
/* Left page banner and text */
@font-face {
    font-family: "Norse-Bold";
    src: url(Norse-Bold.otf);
}
.odin {
    font-family: "Norse-Bold";
    position: absolute;
    font-size: 6rem;
    left: 20%;
    top: 28%;
    color: white;
}

.credit {
    position: absolute;
    left: 13%;
    bottom: 1.5%;
    color: white;
}

a:link {
    color: white;
}


img {
    width: 40vw;
    height: 100vh;
    position: absolute;
}

.left-container {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

img[src="logo.png"] {
    width: 100px;
    height: 125px;
    /* position: absolute; */
    left: 13%;
    top: 25.5%;
    
}

.backsplash {
    background-color: black;
    position: relative;
    top: 18vh;
    width: 40vw;
    height: 10rem;
    opacity: .35;

}


/* Right page inputs/buttons */

#parent {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.intro1, .intro2 {
    padding-top: 170px;
    padding-bottom: 100px;
    font-weight: bolder;
    font-size: 1.6rem;
    margin-left: 50px;
}
.intro1 {
    position: relative;
    right: 180px;


}
.intro2 {
    position: relative;
    right: 610px;
    bottom: 240px;    
}



















/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}