* {
    box-sizing: border-box;
}
body {
    background-color: rgb(247, 245, 245);
}

#page {
    display: flex;
    justify-content: flex-start;

}
/* Left page banner and text */
@font-face {
    font-family: "Norse-Bold";
    src: url(Norse-Bold.otf);
}
.odin {
    font-family: "Norse-Bold";
    position: absolute;
    font-size: 7rem;
    left: 20%;
    top: 26%;
    color: white;
}

.credit {
    position: absolute;
    left: 13%;
    bottom: 1.5%;
    color: white;
}

a:link {
    color: white;
}


img {
    width: 40vw;
    height: 100vh;
    position: absolute;
}

.left-container {
    flex: 1;
}

.logo {
    display: flex;
    align-items: center;
}

img[src="logo.png"] {
    width: 100px;
    height: 125px;
    /* position: absolute; */
    left: 13%;
    top: 25.5%;
    
}

.backsplash {
    background-color: black;
    position: absolute;
    width: 40vw;
    height: 10rem;
    opacity: .35;
    top: 24%;

}


/* Right page inputs/buttons */

.intro-text {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    font-size: 2rem;
    margin-left: 2vw;


}
.right-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.intro1, .intro2 {
    padding-top: 170px;
    padding-bottom: 100px;
    font-weight: bolder;
    font-size: 1.6rem;
    margin-left: 50px;
}
.intro1 {
    display: flex;
    margin-top: 4vh;

}
.intro2 {
    position: relative; 
    left: 50px;  
}

.entice {
    margin-bottom: 10px;
    margin-top: 32px;
    
}


/* Inputs  */

/* Input header */
.form-header {
    position: relative;
    bottom: 50px;  
    font-size: 1.6rem;
    margin-left: 3rem;
}
.input-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10vh;
    width: 60vw;
    height: 30vh;
    border: solid .2px white;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 3px 1px rgba(20,20,20,0.4);
    
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 3rem;

    gap: 5vw;

}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
}



/* left input columns */
.left-column label, .right-column label {
    margin-bottom: 5px;
}

.left-column input, .right-column input {
    margin-bottom: 10px;
}













/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}